@import url('kepler2-ui-drinfopanel.css');
@import url('kepler2-ui-planetinfobox.css');

@font-face {
	font-family: audiowide;
	src: url('fonts/Audiowide/Audiowide-Regular.ttf');
}

body {
	background-color: #000;
}

.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 30px;
	
	color: #ddd;
}

.menu-bg {
	position: absolute;
	
	left: 0; top: 0;
	
	width: 100%;
	height: 100%;
	opacity: 0.7;
	
	background-color: #777;
	z-index: -1;
}

.menu-items {
	position: absolute;
	left: 0; top: 0;
	
	width: 100%;
	height: 100%;
	z-index: 1;
}

.menu-items .menu-item {
	float: left;

	padding: 5px;
	font-size: 20px;
	line-height: 20px;
	height: 30px;
	
	border-right: 2px solid #888;
	
	text-align: center;
	
	text-transform: uppercase;
	font-family: audiowide;
	
	cursor: pointer;
}

.menu-item.selected {
	background-color: #777;
}

.menu-slide {
	position: fixed;
	left: 0;
	bottom: 30px;
	right: 0;
	
	height: 0px;
	z-index: 2;

	overflow: hidden;
	
	text-transform: uppercase;
	font-family: audiowide;
}
.menu-slide-bg {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	
	background-color: #939393;
	opacity: 0.8;
	
	z-index: -2;
}

#menu-slide-systems {
	padding: 5px;
}

.list-selector {
	padding: 5px;
	font-size: 15px;
	
	cursor: pointer;
}
.list-selector .check {
	color: #777;
}
.list-selector.selected {
	color: lightgreen;
}
.list-selector .check.selected {
	color: lightgreen;
}

.datepicker-parent {
	float: left;
	padding: 5px;
}
label {
	display: block;
	width: 60px;
	float: left;
}
#date-from, #date-to {
	width: 130px;
}

#date-from-div, #date-to-div {
	padding-top: 3px;
}
.datepicker-separator {
	float: left;
	width: 3px;
	height: 210px;
	margin-top: 5px;
	background-color: #333;
	
	margin-left: 10px;
	margin-right: 10px;
}

#removePartials-button {
	display: none;
}

#removePickedDate-button {
	display: none;
}

.ui-widget {
	font-size: 8pt;
}