.dr-infopanel {
	display: none;

	position: fixed;
	width: 350px;
	
	top: 0; left: 0;
	bottom: 285px;
	
	padding: 5px;
	
	font-family: audiowide;
	text-transform: uppercase;
	
	z-index: 5;
}

.dr-content {
	width: 350px;
}

.transl-back {
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-color: #777;
	opacity: 0.8;
	
	z-index: -2;
}

.transl-content {
	position: absolute;
	left: 5px;
	top: 5px;
	bottom: -5px;
	padding: 5px;
	
	overflow-y: scroll;
}

.dr-system-pad {
	height: 20px;
}