body {
	margin: 0; padding: 0;
	overflow: hidden;
	
	background-color: #000;
}

canvas {
 /*border: 1px solid red;*/
}

#debug-toolkit {
	z-index: 10;
	position: absolute;
	right: 10;
	top: 10;
	
	width: 100;
	height: 100;
	
	/*border: 1px solid #f00;*/
	text-align: center;
}

.bar {
	z-index: 10;
	position: absolute;
	font: 10px 'lucida console';	
}

#info-bar {
	left: 370;
	top: 15;
	right: 120;
	height: 10;
	
	color: #fff;
	
	text-align: right;
}

#error-bar {
	left: 370;
	top: 25;
	right: 110;
	height: 10;
	color: #ffff00;
	
	text-align: right;
}

#system-list-bar {
	left: 10; bottom: 10; color: #fff;
}

#from-to-bar {
	right: 10; bottom: 10; color: #fff;
}