.pib {
	display: none;

	position: fixed;
	width: 350px;
	
	top: 0; left: 0;
	bottom: 285px;
	
	padding: 5px;
	
	font-family: audiowide;
	text-transform: uppercase;
	
	z-index: 5;
}

.pib-content {
	width: 350px;
}